<!-- 
  <div class="page-header">
      <div>

        <div class="page-header-primary">
          <nav>
            <div class="logo">
                <img src="../assets/log.png" alt="Transpire Logo">
                Transpire
            </div>
            <div class="menu">
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About Us</a>
                <a routerLink="/work">Our Services</a>
                <a routerLink="/contact">Contact Us</a>
            </div>
            <div class="register">
                <a routerLink="/register">Register</a>
                &nbsp;&nbsp; 
                <a routerLink="/login">Log-Out</a> &nbsp;
            </div>
        </nav>
        </div>

      </div>
    </div> -->
