
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Language translator website</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../assets/log.png" alt="Transpire Logo">
                Transpire
            </div>
            <div class="menu">
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About Us</a>
                <a routerLink="/work">Our Services</a>
                <a routerLink="/contact">Contact Us</a>
            </div>
            <div class="register">
                <a routerLink="/register">Register</a>
                &nbsp;&nbsp; 
                <a routerLink="/login">Login</a> &nbsp;
            </div>
        </nav>
        <section  class="h-text">
            <h1>Translate Anytime Anywhere</h1>
            <span>"Let AI Translation be Your Universal Compass"</span>
            <br>
            <a href="#">Get Started</a>
        </section>
    </header>
</body>
</html>

